<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SmartPay</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='script.js') }}">
    </script>

</head>

<body>

    <!-- NAVBAR -->

    <nav>

        <div class="logo">
            SmartPay
        </div>

<ul>

    {% if session.get('user_id') %}

    <li>
        <a href="/dashboard">
            Dashboard
        </a>
    </li>

    <li>
        <a href="/add_money">
            Add Money
        </a>
    </li>

    <li>
        <a href="/send_money">
            Send Money
        </a>
    </li>

    <li>
        <a href="/history">
            History
        </a>
    </li>
    <li>
    <a href="/notifications">
        Notifications
    </a>
</li>

    <li>
        <a href="/logout">
            Logout
        </a>
    </li>

    {% else %}

    <li>
        <a href="/login">
            Login
        </a>
    </li>

    <li>
        <a href="/register">
            Register
        </a>
    </li>

    {% endif %}

</ul>

    </nav>

    <!-- FLASH MESSAGES -->

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for msg in messages %}

                <div class="flash-message
    {% if 'Successful' in msg
       or 'Added' in msg
       or 'Sent' in msg
       or 'Registered' in msg %}

       success

    {% else %}

       error

    {% endif %}
">

    {{ msg }}

</div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    <!-- CONTENT -->

    {% block content %}

    {% endblock %}

</body>
</html>